<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.linghuayicao.dao.system.TSysPermissionDAO">
	<resultMap id="BaseResultMap" type="xyz.linghuayicao.entity.system.TSysPermission">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="permissionname" jdbcType="VARCHAR" property="permissionname" />
		<result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value" item="listItem"
										open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value" item="listItem"
										open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		id, permissionname, createtime
	</sql>
	<select id="selectByExample" parameterType="xyz.linghuayicao.entity.system.TSysPermissionCriteria"
		resultMap="BaseResultMap">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from t_sys_permission
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_sys_permission
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from t_sys_permission
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<delete id="deleteByExample" parameterType="xyz.linghuayicao.entity.system.TSysPermissionCriteria">
		delete from t_sys_permission
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="xyz.linghuayicao.entity.system.TSysPermission">
		insert into t_sys_permission (id, permissionname, createtime
		)
		values (#{id,jdbcType=INTEGER}, #{permissionname,jdbcType=VARCHAR},
		#{createtime,jdbcType=TIMESTAMP}
		)
	</insert>
	<insert id="insertSelective" parameterType="xyz.linghuayicao.entity.system.TSysPermission">
		insert into t_sys_permission
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="permissionname != null">
				permissionname,
			</if>
			<if test="createtime != null">
				createtime,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="permissionname != null">
				#{permissionname,jdbcType=VARCHAR},
			</if>
			<if test="createtime != null">
				#{createtime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<insert id="insertBatch" parameterType="java.util.List">
		insert into t_sys_permission (id, permissionname, createtime
		)
		values
		<foreach collection="list" index="index" item="item"
			separator=",">
			(#{item.id,jdbcType=INTEGER}, #{item.permissionname,jdbcType=VARCHAR},
			#{item.createtime,jdbcType=TIMESTAMP}
			)
		</foreach>
	</insert>
	<insert id="insertBatchSelective" parameterType="java.util.List">
		insert into t_sys_permission
		(id, permissionname, createtime)
		values
		<foreach collection="list" index="index" item="item"
			separator=",">
			<trim prefix="(" suffix=")" suffixOverrides=",">
				<if test="item.id != null">
					#{item.id,jdbcType=INTEGER},
				</if>
				<if test="item.id == null">
					NULL,
				</if>
				<if test="item.permissionname != null">
					#{item.permissionname,jdbcType=VARCHAR},
				</if>
				<if test="item.permissionname == null">
					NULL,
				</if>
				<if test="item.createtime != null">
					#{item.createtime,jdbcType=TIMESTAMP},
				</if>
				<if test="item.createtime == null">
					NULL,
				</if>
			</trim>
		</foreach>
	</insert>
	<select id="countByExample" parameterType="xyz.linghuayicao.entity.system.TSysPermissionCriteria"
		resultType="java.lang.Long">
		select count(*) from t_sys_permission
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update t_sys_permission
		<set>
			<if test="record.id != null">
				id = #{record.id,jdbcType=INTEGER},
			</if>
			<if test="record.permissionname != null">
				permissionname = #{record.permissionname,jdbcType=VARCHAR},
			</if>
			<if test="record.createtime != null">
				createtime = #{record.createtime,jdbcType=TIMESTAMP},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update t_sys_permission
		set id = #{record.id,jdbcType=INTEGER},
		permissionname = #{record.permissionname,jdbcType=VARCHAR},
		createtime = #{record.createtime,jdbcType=TIMESTAMP}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="xyz.linghuayicao.entity.system.TSysPermission">
		update t_sys_permission
		<set>
			<if test="permissionname != null">
				permissionname = #{permissionname,jdbcType=VARCHAR},
			</if>
			<if test="createtime != null">
				createtime = #{createtime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="xyz.linghuayicao.entity.system.TSysPermission">
		update t_sys_permission
		set permissionname = #{permissionname,jdbcType=VARCHAR},
		createtime = #{createtime,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateBatchByPrimaryKey" parameterType="java.util.List">
		update t_sys_permission
		<trim prefix="set" suffixOverrides=",">
			<trim prefix="permissionname =case id" suffix="end,">
				<foreach collection="list" index="index" item="item"
					separator=" ">
					when #{item.id} then #{item.permissionname}
				</foreach>
			</trim>
			<trim prefix="createtime =case id" suffix="end,">
				<foreach collection="list" index="index" item="item"
					separator=" ">
					when #{item.id} then #{item.createtime}
				</foreach>
			</trim>
		</trim>
		where id in
		<foreach close=")" collection="list" index="index" item="item"
			open="(" separator=",">
			#{item.id}
		</foreach>
	</update>
	<update id="updateBatchByPrimaryKeySelective" parameterType="java.util.List">
		update t_sys_permission
		<trim prefix="set" suffixOverrides=",">
			<trim prefix="permissionname =case id" suffix="end,">
				<foreach collection="list" index="index" item="item"
					separator=" ">
					<if test="item.permissionname != null ">
						when #{item.id} then #{item.permissionname}
					</if>
					<if test="item.permissionname == null ">
						when #{item.id} then t_sys_permission.permissionname
					</if>
				</foreach>
			</trim>
			<trim prefix="createtime =case id" suffix="end,">
				<foreach collection="list" index="index" item="item"
					separator=" ">
					<if test="item.createtime != null ">
						when #{item.id} then #{item.createtime}
					</if>
					<if test="item.createtime == null ">
						when #{item.id} then t_sys_permission.createtime
					</if>
				</foreach>
			</trim>
		</trim>
		where id in
		<foreach close=")" collection="list" index="index" item="item"
			open="(" separator=",">
			#{item.id}
		</foreach>
	</update>
	<update id="updateBatchByExample" parameterType="map">
		update t_sys_permission
		<trim prefix="set" suffixOverrides=",">
			<trim prefix="permissionname =case id" suffix="end,">
				<foreach collection="recordList" index="index" item="item"
					separator=" ">
					when #{item.id} then #{item.permissionname}
				</foreach>
			</trim>
			<trim prefix="createtime =case id" suffix="end,">
				<foreach collection="recordList" index="index" item="item"
					separator=" ">
					when #{item.id} then #{item.createtime}
				</foreach>
			</trim>
		</trim>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateBatchByExampleSelective" parameterType="map">
		update t_sys_permission
		<trim prefix="set" suffixOverrides=",">
			<trim prefix="permissionname =case id" suffix="end,">
				<foreach collection="recordList" index="index" item="item"
					separator=" ">
					<if test="item.permissionname != null ">
						when #{item.id} then #{item.permissionname}
					</if>
					<if test="item.permissionname == null ">
						when #{item.id} then t_sys_permission.permissionname
					</if>
				</foreach>
			</trim>
			<trim prefix="createtime =case id" suffix="end,">
				<foreach collection="recordList" index="index" item="item"
					separator=" ">
					<if test="item.createtime != null ">
						when #{item.id} then #{item.createtime}
					</if>
					<if test="item.createtime == null ">
						when #{item.id} then t_sys_permission.createtime
					</if>
				</foreach>
			</trim>
		</trim>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
</mapper>