<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.linghuayicao.dao.system.TSysDepartDAO">
	<resultMap id="BaseResultMap" type="xyz.linghuayicao.entity.system.TSysDepart">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="departname" jdbcType="VARCHAR" property="departname" />
		<result column="upid" jdbcType="INTEGER" property="upid" />
		<result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
		<result column="type" jdbcType="VARCHAR" property="type" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value" item="listItem"
										open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value" item="listItem"
										open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		id, departname, upid, createtime, type
	</sql>
	<select id="selectByExample" parameterType="xyz.linghuayicao.entity.system.TSysDepartCriteria"
		resultMap="BaseResultMap">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from t_sys_depart
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_sys_depart
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from t_sys_depart
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<delete id="deleteByExample" parameterType="xyz.linghuayicao.entity.system.TSysDepartCriteria">
		delete from t_sys_depart
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="xyz.linghuayicao.entity.system.TSysDepart">
		insert into t_sys_depart (id, departname, upid,
		createtime, type)
		values (#{id,jdbcType=INTEGER}, #{departname,jdbcType=VARCHAR},
		#{upid,jdbcType=INTEGER},
		#{createtime,jdbcType=TIMESTAMP}, #{type,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="xyz.linghuayicao.entity.system.TSysDepart"
		useGeneratedKeys="true" keyProperty="id">
		insert into t_sys_depart
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="departname != null">
				departname,
			</if>
			<if test="upid != null">
				upid,
			</if>
			<if test="createtime != null">
				createtime,
			</if>
			<if test="type != null">
				type,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="departname != null">
				#{departname,jdbcType=VARCHAR},
			</if>
			<if test="upid != null">
				#{upid,jdbcType=INTEGER},
			</if>
			<if test="createtime != null">
				#{createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="type != null">
				#{type,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<insert id="insertBatch" parameterType="java.util.List">
		insert into t_sys_depart (id, departname, upid,
		createtime, type)
		values
		<foreach collection="list" index="index" item="item"
			separator=",">
			(#{item.id,jdbcType=INTEGER}, #{item.departname,jdbcType=VARCHAR}, #{item.upid,jdbcType=INTEGER},
			#{item.createtime,jdbcType=TIMESTAMP}, #{item.type,jdbcType=VARCHAR})
		</foreach>
	</insert>
	<insert id="insertBatchSelective" parameterType="java.util.List">
		insert into t_sys_depart
		(id, departname, upid, createtime, type)
		values
		<foreach collection="list" index="index" item="item"
			separator=",">
			<trim prefix="(" suffix=")" suffixOverrides=",">
				<if test="item.id != null">
					#{item.id,jdbcType=INTEGER},
				</if>
				<if test="item.id == null">
					NULL,
				</if>
				<if test="item.departname != null">
					#{item.departname,jdbcType=VARCHAR},
				</if>
				<if test="item.departname == null">
					NULL,
				</if>
				<if test="item.upid != null">
					#{item.upid,jdbcType=INTEGER},
				</if>
				<if test="item.upid == null">
					NULL,
				</if>
				<if test="item.createtime != null">
					#{item.createtime,jdbcType=TIMESTAMP},
				</if>
				<if test="item.createtime == null">
					NULL,
				</if>
				<if test="item.type != null">
					#{item.type,jdbcType=VARCHAR},
				</if>
				<if test="item.type == null">
					NULL,
				</if>
			</trim>
		</foreach>
	</insert>
	<select id="countByExample" parameterType="xyz.linghuayicao.entity.system.TSysDepartCriteria"
		resultType="java.lang.Long">
		select count(*) from t_sys_depart
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update t_sys_depart
		<set>
			<if test="record.id != null">
				id = #{record.id,jdbcType=INTEGER},
			</if>
			<if test="record.departname != null">
				departname = #{record.departname,jdbcType=VARCHAR},
			</if>
			<if test="record.upid != null">
				upid = #{record.upid,jdbcType=INTEGER},
			</if>
			<if test="record.createtime != null">
				createtime = #{record.createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="record.type != null">
				type = #{record.type,jdbcType=VARCHAR},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update t_sys_depart
		set id = #{record.id,jdbcType=INTEGER},
		departname = #{record.departname,jdbcType=VARCHAR},
		upid = #{record.upid,jdbcType=INTEGER},
		createtime = #{record.createtime,jdbcType=TIMESTAMP},
		type = #{record.type,jdbcType=VARCHAR}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="xyz.linghuayicao.entity.system.TSysDepart">
		update t_sys_depart
		<set>
			<if test="departname != null">
				departname = #{departname,jdbcType=VARCHAR},
			</if>
			<if test="upid != null">
				upid = #{upid,jdbcType=INTEGER},
			</if>
			<if test="createtime != null">
				createtime = #{createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="type != null">
				type = #{type,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="xyz.linghuayicao.entity.system.TSysDepart">
		update t_sys_depart
		set departname = #{departname,jdbcType=VARCHAR},
		upid = #{upid,jdbcType=INTEGER},
		createtime = #{createtime,jdbcType=TIMESTAMP},
		type = #{type,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateBatchByPrimaryKey" parameterType="java.util.List">
		update t_sys_depart
		<trim prefix="set" suffixOverrides=",">
			<trim prefix="departname =case id" suffix="end,">
				<foreach collection="list" index="index" item="item"
					separator=" ">
					when #{item.id} then #{item.departname}
				</foreach>
			</trim>
			<trim prefix="upid =case id" suffix="end,">
				<foreach collection="list" index="index" item="item"
					separator=" ">
					when #{item.id} then #{item.upid}
				</foreach>
			</trim>
			<trim prefix="createtime =case id" suffix="end,">
				<foreach collection="list" index="index" item="item"
					separator=" ">
					when #{item.id} then #{item.createtime}
				</foreach>
			</trim>
			<trim prefix="type =case id" suffix="end,">
				<foreach collection="list" index="index" item="item"
					separator=" ">
					when #{item.id} then #{item.type}
				</foreach>
			</trim>
		</trim>
		where id in
		<foreach close=")" collection="list" index="index" item="item"
			open="(" separator=",">
			#{item.id}
		</foreach>
	</update>
	<update id="updateBatchByPrimaryKeySelective" parameterType="java.util.List">
		update t_sys_depart
		<trim prefix="set" suffixOverrides=",">
			<trim prefix="departname =case id" suffix="end,">
				<foreach collection="list" index="index" item="item"
					separator=" ">
					<if test="item.departname != null ">
						when #{item.id} then #{item.departname}
					</if>
					<if test="item.departname == null ">
						when #{item.id} then t_sys_depart.departname
					</if>
				</foreach>
			</trim>
			<trim prefix="upid =case id" suffix="end,">
				<foreach collection="list" index="index" item="item"
					separator=" ">
					<if test="item.upid != null ">
						when #{item.id} then #{item.upid}
					</if>
					<if test="item.upid == null ">
						when #{item.id} then t_sys_depart.upid
					</if>
				</foreach>
			</trim>
			<trim prefix="createtime =case id" suffix="end,">
				<foreach collection="list" index="index" item="item"
					separator=" ">
					<if test="item.createtime != null ">
						when #{item.id} then #{item.createtime}
					</if>
					<if test="item.createtime == null ">
						when #{item.id} then t_sys_depart.createtime
					</if>
				</foreach>
			</trim>
			<trim prefix="type =case id" suffix="end,">
				<foreach collection="list" index="index" item="item"
					separator=" ">
					<if test="item.type != null ">
						when #{item.id} then #{item.type}
					</if>
					<if test="item.type == null ">
						when #{item.id} then t_sys_depart.type
					</if>
				</foreach>
			</trim>
		</trim>
		where id in
		<foreach close=")" collection="list" index="index" item="item"
			open="(" separator=",">
			#{item.id}
		</foreach>
	</update>
	<update id="updateBatchByExample" parameterType="map">
		update t_sys_depart
		<trim prefix="set" suffixOverrides=",">
			<trim prefix="departname =case id" suffix="end,">
				<foreach collection="recordList" index="index" item="item"
					separator=" ">
					when #{item.id} then #{item.departname}
				</foreach>
			</trim>
			<trim prefix="upid =case id" suffix="end,">
				<foreach collection="recordList" index="index" item="item"
					separator=" ">
					when #{item.id} then #{item.upid}
				</foreach>
			</trim>
			<trim prefix="createtime =case id" suffix="end,">
				<foreach collection="recordList" index="index" item="item"
					separator=" ">
					when #{item.id} then #{item.createtime}
				</foreach>
			</trim>
			<trim prefix="type =case id" suffix="end,">
				<foreach collection="recordList" index="index" item="item"
					separator=" ">
					when #{item.id} then #{item.type}
				</foreach>
			</trim>
		</trim>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateBatchByExampleSelective" parameterType="map">
		update t_sys_depart
		<trim prefix="set" suffixOverrides=",">
			<trim prefix="departname =case id" suffix="end,">
				<foreach collection="recordList" index="index" item="item"
					separator=" ">
					<if test="item.departname != null ">
						when #{item.id} then #{item.departname}
					</if>
					<if test="item.departname == null ">
						when #{item.id} then t_sys_depart.departname
					</if>
				</foreach>
			</trim>
			<trim prefix="upid =case id" suffix="end,">
				<foreach collection="recordList" index="index" item="item"
					separator=" ">
					<if test="item.upid != null ">
						when #{item.id} then #{item.upid}
					</if>
					<if test="item.upid == null ">
						when #{item.id} then t_sys_depart.upid
					</if>
				</foreach>
			</trim>
			<trim prefix="createtime =case id" suffix="end,">
				<foreach collection="recordList" index="index" item="item"
					separator=" ">
					<if test="item.createtime != null ">
						when #{item.id} then #{item.createtime}
					</if>
					<if test="item.createtime == null ">
						when #{item.id} then t_sys_depart.createtime
					</if>
				</foreach>
			</trim>
			<trim prefix="type =case id" suffix="end,">
				<foreach collection="recordList" index="index" item="item"
					separator=" ">
					<if test="item.type != null ">
						when #{item.id} then #{item.type}
					</if>
					<if test="item.type == null ">
						when #{item.id} then t_sys_depart.type
					</if>
				</foreach>
			</trim>
		</trim>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
</mapper>