<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.linghuayicao.dao.system.TSysLogDAO">
	<resultMap id="BaseResultMap" type="xyz.linghuayicao.entity.system.TSysLog">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="username" jdbcType="VARCHAR" property="username" />
		<result column="userid" jdbcType="VARCHAR" property="userid" />
		<result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
		<result column="logmodel" jdbcType="VARCHAR" property="logmodel" />
		<result column="logtype" jdbcType="VARCHAR" property="logtype" />
		<result column="loginip" jdbcType="VARCHAR" property="loginip" />
		<result column="remake" jdbcType="VARCHAR" property="remake" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value" item="listItem"
										open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value" item="listItem"
										open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		id, username, userid, createtime, logmodel, logtype, loginip, remake
	</sql>
	<select id="selectByExample" parameterType="xyz.linghuayicao.entity.system.TSysLogCriteria"
		resultMap="BaseResultMap">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from t_sys_log
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" parameterType="java.lang.Long"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_sys_log
		where id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from t_sys_log
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<delete id="deleteByExample" parameterType="xyz.linghuayicao.entity.system.TSysLogCriteria">
		delete from t_sys_log
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="xyz.linghuayicao.entity.system.TSysLog">
		insert into t_sys_log (id, username, userid,
		createtime, logmodel, logtype,
		loginip, remake)
		values (#{id,jdbcType=BIGINT}, #{username,jdbcType=VARCHAR},
		#{userid,jdbcType=VARCHAR},
		#{createtime,jdbcType=TIMESTAMP}, #{logmodel,jdbcType=VARCHAR}, #{logtype,jdbcType=VARCHAR},
		#{loginip,jdbcType=VARCHAR}, #{remake,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="xyz.linghuayicao.entity.system.TSysLog">
		insert into t_sys_log
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="username != null">
				username,
			</if>
			<if test="userid != null">
				userid,
			</if>
			<if test="createtime != null">
				createtime,
			</if>
			<if test="logmodel != null">
				logmodel,
			</if>
			<if test="logtype != null">
				logtype,
			</if>
			<if test="loginip != null">
				loginip,
			</if>
			<if test="remake != null">
				remake,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="username != null">
				#{username,jdbcType=VARCHAR},
			</if>
			<if test="userid != null">
				#{userid,jdbcType=VARCHAR},
			</if>
			<if test="createtime != null">
				#{createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="logmodel != null">
				#{logmodel,jdbcType=VARCHAR},
			</if>
			<if test="logtype != null">
				#{logtype,jdbcType=VARCHAR},
			</if>
			<if test="loginip != null">
				#{loginip,jdbcType=VARCHAR},
			</if>
			<if test="remake != null">
				#{remake,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<insert id="insertBatch" parameterType="java.util.List">
		insert into t_sys_log (id, username, userid,
		createtime, logmodel, logtype,
		loginip, remake)
		values
		<foreach collection="list" index="index" item="item"
			separator=",">
			(#{item.id,jdbcType=BIGINT}, #{item.username,jdbcType=VARCHAR}, #{item.userid,jdbcType=VARCHAR},
			#{item.createtime,jdbcType=TIMESTAMP},
			#{item.logmodel,jdbcType=VARCHAR}, #{item.logtype,jdbcType=VARCHAR},
			#{item.loginip,jdbcType=VARCHAR}, #{item.remake,jdbcType=VARCHAR})
		</foreach>
	</insert>
	<insert id="insertBatchSelective" parameterType="java.util.List">
		insert into t_sys_log
		(id, username, userid, createtime, logmodel, logtype, loginip, remake)
		values
		<foreach collection="list" index="index" item="item"
			separator=",">
			<trim prefix="(" suffix=")" suffixOverrides=",">
				<if test="item.id != null">
					#{item.id,jdbcType=BIGINT},
				</if>
				<if test="item.id == null">
					NULL,
				</if>
				<if test="item.username != null">
					#{item.username,jdbcType=VARCHAR},
				</if>
				<if test="item.username == null">
					NULL,
				</if>
				<if test="item.userid != null">
					#{item.userid,jdbcType=VARCHAR},
				</if>
				<if test="item.userid == null">
					NULL,
				</if>
				<if test="item.createtime != null">
					#{item.createtime,jdbcType=TIMESTAMP},
				</if>
				<if test="item.createtime == null">
					NULL,
				</if>
				<if test="item.logmodel != null">
					#{item.logmodel,jdbcType=VARCHAR},
				</if>
				<if test="item.logmodel == null">
					NULL,
				</if>
				<if test="item.logtype != null">
					#{item.logtype,jdbcType=VARCHAR},
				</if>
				<if test="item.logtype == null">
					NULL,
				</if>
				<if test="item.loginip != null">
					#{item.loginip,jdbcType=VARCHAR},
				</if>
				<if test="item.loginip == null">
					NULL,
				</if>
				<if test="item.remake != null">
					#{item.remake,jdbcType=VARCHAR},
				</if>
				<if test="item.remake == null">
					NULL,
				</if>
			</trim>
		</foreach>
	</insert>
	<select id="countByExample" parameterType="xyz.linghuayicao.entity.system.TSysLogCriteria"
		resultType="java.lang.Long">
		select count(*) from t_sys_log
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update t_sys_log
		<set>
			<if test="record.id != null">
				id = #{record.id,jdbcType=BIGINT},
			</if>
			<if test="record.username != null">
				username = #{record.username,jdbcType=VARCHAR},
			</if>
			<if test="record.userid != null">
				userid = #{record.userid,jdbcType=VARCHAR},
			</if>
			<if test="record.createtime != null">
				createtime = #{record.createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="record.logmodel != null">
				logmodel = #{record.logmodel,jdbcType=VARCHAR},
			</if>
			<if test="record.logtype != null">
				logtype = #{record.logtype,jdbcType=VARCHAR},
			</if>
			<if test="record.loginip != null">
				loginip = #{record.loginip,jdbcType=VARCHAR},
			</if>
			<if test="record.remake != null">
				remake = #{record.remake,jdbcType=VARCHAR},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update t_sys_log
		set id = #{record.id,jdbcType=BIGINT},
		username = #{record.username,jdbcType=VARCHAR},
		userid = #{record.userid,jdbcType=VARCHAR},
		createtime = #{record.createtime,jdbcType=TIMESTAMP},
		logmodel = #{record.logmodel,jdbcType=VARCHAR},
		logtype = #{record.logtype,jdbcType=VARCHAR},
		loginip = #{record.loginip,jdbcType=VARCHAR},
		remake = #{record.remake,jdbcType=VARCHAR}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="xyz.linghuayicao.entity.system.TSysLog">
		update t_sys_log
		<set>
			<if test="username != null">
				username = #{username,jdbcType=VARCHAR},
			</if>
			<if test="userid != null">
				userid = #{userid,jdbcType=VARCHAR},
			</if>
			<if test="createtime != null">
				createtime = #{createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="logmodel != null">
				logmodel = #{logmodel,jdbcType=VARCHAR},
			</if>
			<if test="logtype != null">
				logtype = #{logtype,jdbcType=VARCHAR},
			</if>
			<if test="loginip != null">
				loginip = #{loginip,jdbcType=VARCHAR},
			</if>
			<if test="remake != null">
				remake = #{remake,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="xyz.linghuayicao.entity.system.TSysLog">
		update t_sys_log
		set username = #{username,jdbcType=VARCHAR},
		userid = #{userid,jdbcType=VARCHAR},
		createtime = #{createtime,jdbcType=TIMESTAMP},
		logmodel = #{logmodel,jdbcType=VARCHAR},
		logtype = #{logtype,jdbcType=VARCHAR},
		loginip = #{loginip,jdbcType=VARCHAR},
		remake = #{remake,jdbcType=VARCHAR}
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateBatchByPrimaryKey" parameterType="java.util.List">
		update t_sys_log
		<trim prefix="set" suffixOverrides=",">
			<trim prefix="username =case id" suffix="end,">
				<foreach collection="list" index="index" item="item"
					separator=" ">
					when #{item.id} then #{item.username}
				</foreach>
			</trim>
			<trim prefix="userid =case id" suffix="end,">
				<foreach collection="list" index="index" item="item"
					separator=" ">
					when #{item.id} then #{item.userid}
				</foreach>
			</trim>
			<trim prefix="createtime =case id" suffix="end,">
				<foreach collection="list" index="index" item="item"
					separator=" ">
					when #{item.id} then #{item.createtime}
				</foreach>
			</trim>
			<trim prefix="logmodel =case id" suffix="end,">
				<foreach collection="list" index="index" item="item"
					separator=" ">
					when #{item.id} then #{item.logmodel}
				</foreach>
			</trim>
			<trim prefix="logtype =case id" suffix="end,">
				<foreach collection="list" index="index" item="item"
					separator=" ">
					when #{item.id} then #{item.logtype}
				</foreach>
			</trim>
			<trim prefix="loginip =case id" suffix="end,">
				<foreach collection="list" index="index" item="item"
					separator=" ">
					when #{item.id} then #{item.loginip}
				</foreach>
			</trim>
			<trim prefix="remake =case id" suffix="end,">
				<foreach collection="list" index="index" item="item"
					separator=" ">
					when #{item.id} then #{item.remake}
				</foreach>
			</trim>
		</trim>
		where id in
		<foreach close=")" collection="list" index="index" item="item"
			open="(" separator=",">
			#{item.id}
		</foreach>
	</update>
	<update id="updateBatchByPrimaryKeySelective" parameterType="java.util.List">
		update t_sys_log
		<trim prefix="set" suffixOverrides=",">
			<trim prefix="username =case id" suffix="end,">
				<foreach collection="list" index="index" item="item"
					separator=" ">
					<if test="item.username != null ">
						when #{item.id} then #{item.username}
					</if>
					<if test="item.username == null ">
						when #{item.id} then t_sys_log.username
					</if>
				</foreach>
			</trim>
			<trim prefix="userid =case id" suffix="end,">
				<foreach collection="list" index="index" item="item"
					separator=" ">
					<if test="item.userid != null ">
						when #{item.id} then #{item.userid}
					</if>
					<if test="item.userid == null ">
						when #{item.id} then t_sys_log.userid
					</if>
				</foreach>
			</trim>
			<trim prefix="createtime =case id" suffix="end,">
				<foreach collection="list" index="index" item="item"
					separator=" ">
					<if test="item.createtime != null ">
						when #{item.id} then #{item.createtime}
					</if>
					<if test="item.createtime == null ">
						when #{item.id} then t_sys_log.createtime
					</if>
				</foreach>
			</trim>
			<trim prefix="logmodel =case id" suffix="end,">
				<foreach collection="list" index="index" item="item"
					separator=" ">
					<if test="item.logmodel != null ">
						when #{item.id} then #{item.logmodel}
					</if>
					<if test="item.logmodel == null ">
						when #{item.id} then t_sys_log.logmodel
					</if>
				</foreach>
			</trim>
			<trim prefix="logtype =case id" suffix="end,">
				<foreach collection="list" index="index" item="item"
					separator=" ">
					<if test="item.logtype != null ">
						when #{item.id} then #{item.logtype}
					</if>
					<if test="item.logtype == null ">
						when #{item.id} then t_sys_log.logtype
					</if>
				</foreach>
			</trim>
			<trim prefix="loginip =case id" suffix="end,">
				<foreach collection="list" index="index" item="item"
					separator=" ">
					<if test="item.loginip != null ">
						when #{item.id} then #{item.loginip}
					</if>
					<if test="item.loginip == null ">
						when #{item.id} then t_sys_log.loginip
					</if>
				</foreach>
			</trim>
			<trim prefix="remake =case id" suffix="end,">
				<foreach collection="list" index="index" item="item"
					separator=" ">
					<if test="item.remake != null ">
						when #{item.id} then #{item.remake}
					</if>
					<if test="item.remake == null ">
						when #{item.id} then t_sys_log.remake
					</if>
				</foreach>
			</trim>
		</trim>
		where id in
		<foreach close=")" collection="list" index="index" item="item"
			open="(" separator=",">
			#{item.id}
		</foreach>
	</update>
	<update id="updateBatchByExample" parameterType="map">
		update t_sys_log
		<trim prefix="set" suffixOverrides=",">
			<trim prefix="username =case id" suffix="end,">
				<foreach collection="recordList" index="index" item="item"
					separator=" ">
					when #{item.id} then #{item.username}
				</foreach>
			</trim>
			<trim prefix="userid =case id" suffix="end,">
				<foreach collection="recordList" index="index" item="item"
					separator=" ">
					when #{item.id} then #{item.userid}
				</foreach>
			</trim>
			<trim prefix="createtime =case id" suffix="end,">
				<foreach collection="recordList" index="index" item="item"
					separator=" ">
					when #{item.id} then #{item.createtime}
				</foreach>
			</trim>
			<trim prefix="logmodel =case id" suffix="end,">
				<foreach collection="recordList" index="index" item="item"
					separator=" ">
					when #{item.id} then #{item.logmodel}
				</foreach>
			</trim>
			<trim prefix="logtype =case id" suffix="end,">
				<foreach collection="recordList" index="index" item="item"
					separator=" ">
					when #{item.id} then #{item.logtype}
				</foreach>
			</trim>
			<trim prefix="loginip =case id" suffix="end,">
				<foreach collection="recordList" index="index" item="item"
					separator=" ">
					when #{item.id} then #{item.loginip}
				</foreach>
			</trim>
			<trim prefix="remake =case id" suffix="end,">
				<foreach collection="recordList" index="index" item="item"
					separator=" ">
					when #{item.id} then #{item.remake}
				</foreach>
			</trim>
		</trim>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateBatchByExampleSelective" parameterType="map">
		update t_sys_log
		<trim prefix="set" suffixOverrides=",">
			<trim prefix="username =case id" suffix="end,">
				<foreach collection="recordList" index="index" item="item"
					separator=" ">
					<if test="item.username != null ">
						when #{item.id} then #{item.username}
					</if>
					<if test="item.username == null ">
						when #{item.id} then t_sys_log.username
					</if>
				</foreach>
			</trim>
			<trim prefix="userid =case id" suffix="end,">
				<foreach collection="recordList" index="index" item="item"
					separator=" ">
					<if test="item.userid != null ">
						when #{item.id} then #{item.userid}
					</if>
					<if test="item.userid == null ">
						when #{item.id} then t_sys_log.userid
					</if>
				</foreach>
			</trim>
			<trim prefix="createtime =case id" suffix="end,">
				<foreach collection="recordList" index="index" item="item"
					separator=" ">
					<if test="item.createtime != null ">
						when #{item.id} then #{item.createtime}
					</if>
					<if test="item.createtime == null ">
						when #{item.id} then t_sys_log.createtime
					</if>
				</foreach>
			</trim>
			<trim prefix="logmodel =case id" suffix="end,">
				<foreach collection="recordList" index="index" item="item"
					separator=" ">
					<if test="item.logmodel != null ">
						when #{item.id} then #{item.logmodel}
					</if>
					<if test="item.logmodel == null ">
						when #{item.id} then t_sys_log.logmodel
					</if>
				</foreach>
			</trim>
			<trim prefix="logtype =case id" suffix="end,">
				<foreach collection="recordList" index="index" item="item"
					separator=" ">
					<if test="item.logtype != null ">
						when #{item.id} then #{item.logtype}
					</if>
					<if test="item.logtype == null ">
						when #{item.id} then t_sys_log.logtype
					</if>
				</foreach>
			</trim>
			<trim prefix="loginip =case id" suffix="end,">
				<foreach collection="recordList" index="index" item="item"
					separator=" ">
					<if test="item.loginip != null ">
						when #{item.id} then #{item.loginip}
					</if>
					<if test="item.loginip == null ">
						when #{item.id} then t_sys_log.loginip
					</if>
				</foreach>
			</trim>
			<trim prefix="remake =case id" suffix="end,">
				<foreach collection="recordList" index="index" item="item"
					separator=" ">
					<if test="item.remake != null ">
						when #{item.id} then #{item.remake}
					</if>
					<if test="item.remake == null ">
						when #{item.id} then t_sys_log.remake
					</if>
				</foreach>
			</trim>
		</trim>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
</mapper>