<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.linghuayicao.dao.system.TSysCodeDAO">
	<resultMap id="BaseResultMap" type="xyz.linghuayicao.entity.system.TSysCode">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="codetype" jdbcType="VARCHAR" property="codetype" />
		<result column="codename" jdbcType="VARCHAR" property="codename" />
		<result column="codevalue" jdbcType="VARCHAR" property="codevalue" />
		<result column="status" jdbcType="VARCHAR" property="status" />
		<result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value" item="listItem"
										open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value" item="listItem"
										open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		id, codetype, codename, codevalue, status, createtime
	</sql>
	<select id="selectByExample" parameterType="xyz.linghuayicao.entity.system.TSysCodeCriteria"
		resultMap="BaseResultMap">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from t_sys_code
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_sys_code
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from t_sys_code
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<delete id="deleteByExample" parameterType="xyz.linghuayicao.entity.system.TSysCodeCriteria">
		delete from t_sys_code
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="xyz.linghuayicao.entity.system.TSysCode">
		insert into t_sys_code (id, codetype, codename,
		codevalue, status, createtime
		)
		values (#{id,jdbcType=INTEGER}, #{codetype,jdbcType=VARCHAR},
		#{codename,jdbcType=VARCHAR},
		#{codevalue,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}
		)
	</insert>





	<insert id="insertSelective" parameterType="xyz.linghuayicao.entity.system.TSysCode"
		useGeneratedKeys="true" keyProperty="id">
		insert into t_sys_code
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="codetype != null">
				codetype,
			</if>
			<if test="codename != null">
				codename,
			</if>
			<if test="codevalue != null">
				codevalue,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="createtime != null">
				createtime,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="codetype != null">
				#{codetype,jdbcType=VARCHAR},
			</if>
			<if test="codename != null">
				#{codename,jdbcType=VARCHAR},
			</if>
			<if test="codevalue != null">
				#{codevalue,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=VARCHAR},
			</if>
			<if test="createtime != null">
				#{createtime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<insert id="insertBatch" parameterType="java.util.List">
		insert into t_sys_code (id, codetype, codename,
		codevalue, status, createtime
		)
		values
		<foreach collection="list" index="index" item="item"
			separator=",">
			(#{item.id,jdbcType=INTEGER}, #{item.codetype,jdbcType=VARCHAR},
			#{item.codename,jdbcType=VARCHAR},
			#{item.codevalue,jdbcType=VARCHAR}, #{item.status,jdbcType=VARCHAR},
			#{item.createtime,jdbcType=TIMESTAMP}
			)
		</foreach>
	</insert>
	<insert id="insertBatchSelective" parameterType="java.util.List">
		insert into t_sys_code
		(id, codetype, codename, codevalue, status, createtime)
		values
		<foreach collection="list" index="index" item="item"
			separator=",">
			<trim prefix="(" suffix=")" suffixOverrides=",">
				<if test="item.id != null">
					#{item.id,jdbcType=INTEGER},
				</if>
				<if test="item.id == null">
					NULL,
				</if>
				<if test="item.codetype != null">
					#{item.codetype,jdbcType=VARCHAR},
				</if>
				<if test="item.codetype == null">
					NULL,
				</if>
				<if test="item.codename != null">
					#{item.codename,jdbcType=VARCHAR},
				</if>
				<if test="item.codename == null">
					NULL,
				</if>
				<if test="item.codevalue != null">
					#{item.codevalue,jdbcType=VARCHAR},
				</if>
				<if test="item.codevalue == null">
					NULL,
				</if>
				<if test="item.status != null">
					#{item.status,jdbcType=VARCHAR},
				</if>
				<if test="item.status == null">
					NULL,
				</if>
				<if test="item.createtime != null">
					#{item.createtime,jdbcType=TIMESTAMP},
				</if>
				<if test="item.createtime == null">
					NULL,
				</if>
			</trim>
		</foreach>
	</insert>
	<select id="countByExample" parameterType="xyz.linghuayicao.entity.system.TSysCodeCriteria"
		resultType="java.lang.Long">
		select count(*) from t_sys_code
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update t_sys_code
		<set>
			<if test="record.id != null">
				id = #{record.id,jdbcType=INTEGER},
			</if>
			<if test="record.codetype != null">
				codetype = #{record.codetype,jdbcType=VARCHAR},
			</if>
			<if test="record.codename != null">
				codename = #{record.codename,jdbcType=VARCHAR},
			</if>
			<if test="record.codevalue != null">
				codevalue = #{record.codevalue,jdbcType=VARCHAR},
			</if>
			<if test="record.status != null">
				status = #{record.status,jdbcType=VARCHAR},
			</if>
			<if test="record.createtime != null">
				createtime = #{record.createtime,jdbcType=TIMESTAMP},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update t_sys_code
		set id = #{record.id,jdbcType=INTEGER},
		codetype = #{record.codetype,jdbcType=VARCHAR},
		codename = #{record.codename,jdbcType=VARCHAR},
		codevalue = #{record.codevalue,jdbcType=VARCHAR},
		status = #{record.status,jdbcType=VARCHAR},
		createtime = #{record.createtime,jdbcType=TIMESTAMP}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="xyz.linghuayicao.entity.system.TSysCode">
		update t_sys_code
		<set>
			<if test="codetype != null">
				codetype = #{codetype,jdbcType=VARCHAR},
			</if>
			<if test="codename != null">
				codename = #{codename,jdbcType=VARCHAR},
			</if>
			<if test="codevalue != null">
				codevalue = #{codevalue,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=VARCHAR},
			</if>
			<if test="createtime != null">
				createtime = #{createtime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="xyz.linghuayicao.entity.system.TSysCode">
		update t_sys_code
		set codetype = #{codetype,jdbcType=VARCHAR},
		codename = #{codename,jdbcType=VARCHAR},
		codevalue = #{codevalue,jdbcType=VARCHAR},
		status = #{status,jdbcType=VARCHAR},
		createtime = #{createtime,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateBatchByPrimaryKey" parameterType="java.util.List">
		update t_sys_code
		<trim prefix="set" suffixOverrides=",">
			<trim prefix="codetype =case id" suffix="end,">
				<foreach collection="list" index="index" item="item"
					separator=" ">
					when #{item.id} then #{item.codetype}
				</foreach>
			</trim>
			<trim prefix="codename =case id" suffix="end,">
				<foreach collection="list" index="index" item="item"
					separator=" ">
					when #{item.id} then #{item.codename}
				</foreach>
			</trim>
			<trim prefix="codevalue =case id" suffix="end,">
				<foreach collection="list" index="index" item="item"
					separator=" ">
					when #{item.id} then #{item.codevalue}
				</foreach>
			</trim>
			<trim prefix="status =case id" suffix="end,">
				<foreach collection="list" index="index" item="item"
					separator=" ">
					when #{item.id} then #{item.status}
				</foreach>
			</trim>
			<trim prefix="createtime =case id" suffix="end,">
				<foreach collection="list" index="index" item="item"
					separator=" ">
					when #{item.id} then #{item.createtime}
				</foreach>
			</trim>
		</trim>
		where id in
		<foreach close=")" collection="list" index="index" item="item"
			open="(" separator=",">
			#{item.id}
		</foreach>
	</update>
	<update id="updateBatchByPrimaryKeySelective" parameterType="java.util.List">
		update t_sys_code
		<trim prefix="set" suffixOverrides=",">
			<trim prefix="codetype =case id" suffix="end,">
				<foreach collection="list" index="index" item="item"
					separator=" ">
					<if test="item.codetype != null ">
						when #{item.id} then #{item.codetype}
					</if>
					<if test="item.codetype == null ">
						when #{item.id} then t_sys_code.codetype
					</if>
				</foreach>
			</trim>
			<trim prefix="codename =case id" suffix="end,">
				<foreach collection="list" index="index" item="item"
					separator=" ">
					<if test="item.codename != null ">
						when #{item.id} then #{item.codename}
					</if>
					<if test="item.codename == null ">
						when #{item.id} then t_sys_code.codename
					</if>
				</foreach>
			</trim>
			<trim prefix="codevalue =case id" suffix="end,">
				<foreach collection="list" index="index" item="item"
					separator=" ">
					<if test="item.codevalue != null ">
						when #{item.id} then #{item.codevalue}
					</if>
					<if test="item.codevalue == null ">
						when #{item.id} then t_sys_code.codevalue
					</if>
				</foreach>
			</trim>
			<trim prefix="status =case id" suffix="end,">
				<foreach collection="list" index="index" item="item"
					separator=" ">
					<if test="item.status != null ">
						when #{item.id} then #{item.status}
					</if>
					<if test="item.status == null ">
						when #{item.id} then t_sys_code.status
					</if>
				</foreach>
			</trim>
			<trim prefix="createtime =case id" suffix="end,">
				<foreach collection="list" index="index" item="item"
					separator=" ">
					<if test="item.createtime != null ">
						when #{item.id} then #{item.createtime}
					</if>
					<if test="item.createtime == null ">
						when #{item.id} then t_sys_code.createtime
					</if>
				</foreach>
			</trim>
		</trim>
		where id in
		<foreach close=")" collection="list" index="index" item="item"
			open="(" separator=",">
			#{item.id}
		</foreach>
	</update>
	<update id="updateBatchByExample" parameterType="map">
		update t_sys_code
		<trim prefix="set" suffixOverrides=",">
			<trim prefix="codetype =case id" suffix="end,">
				<foreach collection="recordList" index="index" item="item"
					separator=" ">
					when #{item.id} then #{item.codetype}
				</foreach>
			</trim>
			<trim prefix="codename =case id" suffix="end,">
				<foreach collection="recordList" index="index" item="item"
					separator=" ">
					when #{item.id} then #{item.codename}
				</foreach>
			</trim>
			<trim prefix="codevalue =case id" suffix="end,">
				<foreach collection="recordList" index="index" item="item"
					separator=" ">
					when #{item.id} then #{item.codevalue}
				</foreach>
			</trim>
			<trim prefix="status =case id" suffix="end,">
				<foreach collection="recordList" index="index" item="item"
					separator=" ">
					when #{item.id} then #{item.status}
				</foreach>
			</trim>
			<trim prefix="createtime =case id" suffix="end,">
				<foreach collection="recordList" index="index" item="item"
					separator=" ">
					when #{item.id} then #{item.createtime}
				</foreach>
			</trim>
		</trim>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateBatchByExampleSelective" parameterType="map">
		update t_sys_code
		<trim prefix="set" suffixOverrides=",">
			<trim prefix="codetype =case id" suffix="end,">
				<foreach collection="recordList" index="index" item="item"
					separator=" ">
					<if test="item.codetype != null ">
						when #{item.id} then #{item.codetype}
					</if>
					<if test="item.codetype == null ">
						when #{item.id} then t_sys_code.codetype
					</if>
				</foreach>
			</trim>
			<trim prefix="codename =case id" suffix="end,">
				<foreach collection="recordList" index="index" item="item"
					separator=" ">
					<if test="item.codename != null ">
						when #{item.id} then #{item.codename}
					</if>
					<if test="item.codename == null ">
						when #{item.id} then t_sys_code.codename
					</if>
				</foreach>
			</trim>
			<trim prefix="codevalue =case id" suffix="end,">
				<foreach collection="recordList" index="index" item="item"
					separator=" ">
					<if test="item.codevalue != null ">
						when #{item.id} then #{item.codevalue}
					</if>
					<if test="item.codevalue == null ">
						when #{item.id} then t_sys_code.codevalue
					</if>
				</foreach>
			</trim>
			<trim prefix="status =case id" suffix="end,">
				<foreach collection="recordList" index="index" item="item"
					separator=" ">
					<if test="item.status != null ">
						when #{item.id} then #{item.status}
					</if>
					<if test="item.status == null ">
						when #{item.id} then t_sys_code.status
					</if>
				</foreach>
			</trim>
			<trim prefix="createtime =case id" suffix="end,">
				<foreach collection="recordList" index="index" item="item"
					separator=" ">
					<if test="item.createtime != null ">
						when #{item.id} then #{item.createtime}
					</if>
					<if test="item.createtime == null ">
						when #{item.id} then t_sys_code.createtime
					</if>
				</foreach>
			</trim>
		</trim>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>





</mapper>