/*
编辑时间：2018年8月28日
作者：zz
目的：修改管理页面样式，调整配色。
 */

a,
*[lau-href],
*[lau-event] {
    cursor: pointer;
}
.header{
    height: 76px;
    /*background-color: #373D41;*/
    background-color: #20222a;
    box-sizing: border-box;
    /*border-bottom: 1px solid #2a2f32;*/
    border-bottom: 1px solid #0c0d0f;
}
.header .logo{
    height: 60px;
    width: 550px;
    margin: 8px 16px;
}
.menu-user{
    padding: 0;
    margin-right: 36px;
}
.menu-user li{
    height: 60px!important;
    line-height: 60px!important;
    min-width: 96px;
}
.menu-user dl{
    top: 55px;
}
.menu-user .layui-nav-bar{
    top: 0!important;
    height: 4px;
    bottom: auto;
}

.sidebar[class]{  /*[class]只为添加权重*/
    top: 76px;
    width: 220px;
    padding-top: 30px;
    border-right: 1px solid #2a2f32;
    /*background-color: #373D41;*/
    background-color: #20222a;
    -webkit-transition: width 0.2s;
    transition: width 0.2s;
}
.fold{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    /*border-bottom: 1px solid #2a2f32;*/
    border-bottom: 1px solid #0c0d0f;
    box-sizing: border-box;
    cursor: pointer;
}
.fold i{
    display: inline-block;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    -webkit-transition: transform 0.2s;
    transition: transform 0.2s;
}
.sidebar-menu{
    width: 240px;
    -webkit-transition: width 0.2s;
    transition: width 0.2s;
}
.sidebar-menu ul{
    width: 220px;
    background-color: rgba(255,255,255,0.1);
    -webkit-transition: width 0.2s;
    transition: width 0.2s;
}
.sidebar-menu a{
    position: relative;
    height: 40px;
    line-height: 40px;
    display: block;
    overflow: hidden;
    color: rgba(255,255,255,.7);
    letter-spacing: 1px;
    transition: all .3s;
    -webkit-transition: all .3s;
}
.sidebar-menu a:hover{
    color: #fff;
}
.sidebar-menu i{
    font-size: 14px;
    display: inline-block;
    width: 50px;
    text-align: center;
    -webkit-transition: transform 0.3s;
    transition: transform 0.3s;
}
.sidebar-menu i:nth-of-type(2) {
    content: '';
    width: 0;
    height: 0;
    border-style: solid dashed dashed;
    border-color: #fff transparent transparent;
    overflow: hidden;
    cursor: pointer;
    transition: all .2s;
    -webkit-transition: all .2s;
    position: absolute;
    top: 50%;
    right: 3px;
    margin-top: -3px;
    margin-right: 10px;
    border-width: 6px;
    border-top-color: rgba(255,255,255,.7);
}
.layui-side .lau-nav-item.lau-open .lau-nav-header i {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
.layui-side .lau-nav-item.lau-open .lau-nav-header i:nth-of-type(2) {
    margin-top: -9px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.lau-mini .layui-side-scroll .layui-nav-tree .lau-nav-item .lau-nav-header i:nth-of-type(2) {
    display: none;
}

.lau-nav-header{
    padding-top: 8px;
    padding-bottom: 8px;
}
dd a{
    padding-left: 20px;
}
.lau-mini .layui-side-scroll .layui-nav-tree .lau-nav-item .lau-nav-child dd a{
    padding-left: 0px;
}
.layui-side .lau-nav-item .lau-nav-child {
    /*background-color: #373D41;*/
    background-color: #16181d;
    overflow: hidden;
}
/*三级菜单 start*/
.layui-side .lau-nav-item .lau-nav-child dd .lau-nav-child{
    /*background-color: #373D41;*/
    background-color: #0c0d0f;
    overflow: hidden;
}
.layui-side .lau-nav-item .lau-nav-child dd .lau-nav-child a {
    padding-left: 30px;
    height: 0;
    transition: all .3s;
    -webkit-transition: all .3s;
}
.layui-side .lau-nav-item.lau-open .lau-nav-child .lau-open .lau-nav-child  a {
    height: 40px;!important;
}

/*.lau-nav-child dd .lau-nav-header{
    padding-top: 0px;
    padding-bottom: 0px;
}*/
.lau-nav-child .lau-open .lau-nav-header2 i {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
.lau-nav-child .lau-open .lau-nav-header2 i:nth-of-type(2) {
    margin-top: -9px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.lau-mini .layui-side-scroll .layui-nav-tree .lau-nav-item .lau-nav-header2 i:nth-of-type(2) {
    display: none;
}


/*三级菜单 end*/


.nav-select {
    color: #ffffff!important;
    background-color: #009688;
}
.layui-side .lau-nav-item .lau-nav-child a {
    height: 0;
    transition: all .3s;
    -webkit-transition: all .3s;
}
.layui-side .lau-nav-item .lau-nav-child a:hover {
    /*background-color: rgba(255,255,255,0.2);*/
    color: #ffffff;
}
.layui-side .lau-nav-item.lau-open .lau-nav-child a {
    height: 40px;
}
.layui-side.lau-mini {
    width: 50px;
}
.layui-side.lau-mini .layui-side-scroll {
    width: 70px;
}
.layui-side.lau-mini .layui-side-scroll .layui-nav-tree {
    width: 50px;
}
.layui-side.lau-mini .lau-side-fold i {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
/*内容主体*/
.layui-layout-admin .layui-body {
    top: 76px;
    bottom: 0;
    left: 220px;
    overflow: hidden;
    -webkit-transition: left 0.2s;
    transition: left 0.2s;
}
.layui-side.lau-mini + .layui-body {
    left: 50px;
}

/*选项卡控制菜单*/
.layui-body .lau-tabs-ctrl {
    position: absolute;
    top: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    text-align: center;
    -webkit-transition: all .3s;
    transition: all .3s;
    border-bottom: 1px solid #f6f6f6;
    background-color: #fff;
    z-index: 19921216;
}
.layui-body .lau-tabs-ctrl:hover {
    background-color: #f6f6f6;
}
.layui-body .lau-tabs-ctrl.layui-icon-prev {
    left: 0;
    border-right: 1px solid #f6f6f6;
}
.layui-body .lau-tabs-ctrl.layui-icon-next {
    right: 80px;
    border-left: 1px solid #f6f6f6;
}
.layui-body .lau-tabs-ctrl.layui-icon-refresh-3 {
    right: 40px;
    border-left: 1px solid #f6f6f6;
}
.layui-body .lau-tabs-ctrl.layui-icon-down {
    right: 0;
    border-left: 1px solid #f6f6f6;
}
.layui-body .lau-tabs-more.layui-nav {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    background: none;
}
.layui-body .lau-tabs-more.layui-nav .layui-nav-item {
    line-height: 40px;
}
.layui-body .lau-tabs-more.layui-nav .layui-nav-item > a {
    height: 40px;
}
.layui-body .lau-tabs-more.layui-nav .layui-nav-item a {
    color: #666;
}
.layui-body .lau-tabs-more.layui-nav .layui-nav-child {
    top: 40px;
    left: auto;
    right: 0;
    border-radius: 0;
}
.layui-body .lau-tabs-more.layui-nav .layui-nav-child dd.layui-this, .layui-body .lau-tabs-more.layui-nav .layui-nav-child dd.layui-this a {
    background-color: #f2f2f2!important;
    color: #333;
}
.layui-body .lau-tabs-more.layui-nav .layui-nav-more, .layui-body .lau-tabs-more.layui-nav .layui-nav-bar {
    display: none;
}
/*重置选项卡导航条样式*/
.layui-body .layui-tab {
    margin: 0;
}
.layui-body .layui-tab-bar {
    display: none;
}
.layui-body .layui-tab-title {
    margin: 0 120px 0 40px;
    border-bottom-color: #f6f6f6;
}
.layui-body .layui-tab[overflow]>.layui-tab-title {
    overflow: visible;
}
.layui-body .layui-tab-title li:first-child i.layui-tab-close {
    display: none;
}
.layui-body .layui-tab-title li {
    height: 40px;
    border-bottom: 1px solid #f6f6f6;
}
.layui-body .layui-tab-title li:after {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 41px;
    border-radius: 0;
    border-bottom: 2px solid #5FB878;
    box-sizing: border-box;
    -webkit-transition: all .2s;
    transition: all .2s;
}
.layui-body .layui-tab-title li i:first-child {
    font-size: 16px;
}
.layui-body .layui-tab-brief[overflow]>.layui-tab-title .layui-this:after {
    top: 0;
}
.layui-body .layui-tab-title li.layui-this:after {
    width: 100%;
}
.layui-body .layui-tab-brief>.layui-tab-title .layui-this {
    background-color: #f6f6f6;
}
/*选项卡内容样式*/
.layui-body .layui-tab .layui-tab-content {
    padding: 0;
}
.layui-body .layui-tab .layui-tab-item {
    position: absolute;
    left: 0;
    right: 0;
    top: 41px;
    bottom: 0;
}
.layui-body iframe {
    width: 100%;
    height: 100%;
    border: none;
}
/*抽屉*/
@-webkit-keyframes layui-rl {
    from {
        -webkit-transform: translate3d(100%, 0, 0);
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
    }
}
@keyframes layui-rl {
    from {
        transform: translate3d(100%, 0, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}
.layui-anim-rl {
    -webkit-animation-name: layui-rl;
    animation-name: layui-rl;
}
@-webkit-keyframes layui-lr {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        opacity: 1;
    }
    to {
        -webkit-transform: translate3d(100%, 0, 0);
        opacity: 1;
    }
}
@keyframes layui-lr {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(100%, 0, 0);
    }
}
.layui-anim-lr {
    -webkit-animation-name: layui-lr;
    animation-name: layui-lr;
}
.layui-anim-rl.layer-anim-close {
    -webkit-animation-name: layui-lr;
    animation-name: layui-lr;
}
.lau-drawer {
    top: 50px !important;
    bottom: 0;
    box-shadow: 1px 1px 10px rgba(0,0,0,.1);
    border-radius: 0!important;
    overflow: auto;
}
